body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#input {
    border: none;
    border-radius: 3px;
    width: 200px;
    font-weight: bold;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#display {
    display: none;
}

.input-box {
    display: flex;
    justify-content: center;
}

.input-box button {
    color: #016f32;
    width: 70px;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}
